.slidev-layout {
    background-image: url(/img/background.jpg);
    background-position: center center;
    background-size: cover;
}

#slide-content > footer {
    z-index: 200;
}

div.legend {
    margin-top: 1rem;
}

.legend .Tokens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend .Tokens .Token {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}